@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&display=swap');

:root {
  /* Se definen con dos guiones al principio -- */
  --az_lgh: #2a94f4;
  --az_bld: #132f70;
  --guinda: #8b0f55;
  --amarillo: #ffbe55;
  --blanco:#eeeeee;
  --negro: #222222;
  --no_color_black:#3030308a;
}

main{
  width: 100%;
/*  
  height: 20em;
  background-color: var(--no_color_black);
*/  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1em;
}

.tabs{
  width: 90%;
  display: flex;
  justify-content: center;

}

.tab-btn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.tab-btn a{
  border: 2px solid var(--az_bld);
  background-color: var(--az_bld);
  color: var(--blanco);
  text-decoration: none;
  width: 100%;
  font-weight: 400;
  padding: 1em 1em;
  border-radius: 1em 0em 0em 1em;

  transition: all 0.2s ease;
}

.tab-btn a:hover{
  background-color: var(--blanco);
  color: var(--az_bld);
  border: 2px solid var(--az_bld);
}

.tab-btn a:focus{
  background-color: var(--blanco);
  color: var(--az_lgh);
  border: 2px solid var(--az_lgh);
}
.tab-content{
  padding: 1em;
  background-color: var(--no_color_black);
  border-radius: 0em 1em 1em 0em;
  border: 1px solid var(--az_bld);

  width: 80%;
}

/* Media query para Tablets (ej. menos de 768px) */
@media (max-width: 768px) {
    .tabs {
        flex-direction: column;
    }
    .tab-btn{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }

    .tab-btn a:nth-child(1){
      border-radius: 1em 0em 0em 0em;
    }

    .tab-btn a:nth-child(3){
      border-radius: 0em 1em 0em 0em;
    }
    .tab-btn a{
      border-radius: 0em;
      border: 2px solid var(--no_color_black);

    }
    
    .tab-content{
      width: 100%;
      border-radius: 0em 0em 1em 1em;
    }

}

/* Media query para Tablets (ej. menos de 768px) */
@media (max-width: 510px) {
    .tabs {
        flex-direction: column;
    }
    
    .tab-btn{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
    .tab-btn a{
      padding: 10px;
    }
    .tab-btn a:nth-child(1){
      border-radius: 1em 1em 0em 0em;
    }
    
    .tab-btn a:nth-child(3){
      border-radius: 0em;
    }
}


.container{
  display: flex;
  flex-direction: row;
}

.container-content{
  width: 50%;
}

.container-content form{
  display: flex;
  flex-direction: column;
}











img{
  width: 10em;
  height: 10em;
}