@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&display=swap');

:root {
  /* Se definen con dos guiones al principio -- */
  --az_lgh: #2a94f4;
  --az_bld: #132f70;
  --guinda: #8b0f55;
  --amarillo: #ffbe55;
  --blanco:#eeeeee;
  --negro: #222222;
  --no_color_black:#ffffff69;
}

main{
  width: 100%;
/*  
  height: 20em;
  background-color: var(--no_color_black);
*/  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs{
  width: 80%;
  display: flex;
  flex-direction: row;
}

.tab-btn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Media query para Tablets (ej. menos de 768px) */
@media (max-width: 768px) {
    .tabs {
        flex-direction: column;
    }
    .tab-btn{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }

}

/* Media query para Tablets (ej. menos de 768px) */
@media (max-width: 510px) {
    .tabs {
        flex-direction: column;
    }
    
    .tab-btn{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

}


















img{
  width: 10em;
  height: 10em;
}